---
import MainLayout from "../layouts/MainLayout.astro";
import MainHead from "../components/MainHead.astro";


// Components Import
import Intro from "../sections/intro.astro";
import Tech from "../sections/tech.astro";
import Work from "../sections/work.astro";
---

<!-- <MainHead title="Rook | Home" /> -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rook</title>
</head>
<MainLayout>
  <Intro />
  <Tech />
  <Work />
</MainLayout>


