---
import "../styles/global.scss";
import styles from "../styles/sec-styles/intro.module.scss";
---

<div class={"Section"}>
  <div class={styles.Content_Container}>
    <!-- <p class={styles.Name}>Daniel Rook</p> -->
    <p class={styles.Bio}>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam natus
      distinctio accusamus, voluptatem quaerat repudiandae laudantium similique
      ipsa! Quidem, velit illum eligendi modi blanditiis iusto earum ex impedit?
      Rem unde veritatis sed cum consequuntur at quidem suscipit, omnis
      distinctio ad quia aliquid voluptate eum? Suscipit, rem ea. Culpa, harum
      dolore. <a href={"about"} class={styles.Link}> About me</a>
    </p>
    <!-- <div class={"CallToActionBox"}>
      <button class={"Button"}>Projects</button>
      <Button client:load />
    </div> -->
  </div>
</div>
