---
const { title } = Astro.props;
import "../styles/global.scss";


import MainHead from "../components/MainHead.astro";
// import Navbar from "../components/Navbar.astro";
 import Navbar from "../components/Navbar.jsx";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <MainHead {title} />
  <body>
    <Navbar client:load />
    <Header />
    <div class="Page">
      <slot />
    </div>
    <Footer />
  </body>
</html>
