---
import MainLayout from "./MainLayout.astro";
import MainHead from "../components/MainHead.astro";

import "../styles/global.scss";

import { slugify } from "../utilities/format";

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;
---

<MainHead title={"Rook |"} />
<MainLayout>
  <div class="PostSection">
    <div class={"Image_Container"}>
      <img src={""} alt="" class={"Image"} />
    </div>
    <h1 class="PostTitle">{frontmatter.title}</h1>
    <div class="AuthorDate">
      <p class="Author">{frontmatter.author}</p>
      <p class="Text">{frontmatter.date}</p>
    </div>
    <p class="Text">{frontmatter.description}</p>
    ----------------------------------------------------------------
    <slot />
  </div>
</MainLayout>
